<body>
  <header>
    <nav class="navigation-menu">
      <ul class="header-list">
        <li><a href="/posts">Posts</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/posts/create/"> Create Post</a></li>
        <li><a href="/users/create/"> Create User</a></li>
      </ul>
      <div class="buttonContainer">
        <button id="color-change">Colour change!</button>
        <button id="normal-color">Normal color</button>
      </div>
    </nav>
  </header>
</body>
