<html lang="en-gb">
  <%- include('_head') -%> <%- include('_header') -%>
  <body>
    <!-- <h1 class="create-new">Create Post</h1> -->

    <form class="vertical-form" method="post" action="/post/create">
      <div>
        <h1>Create Post</h1>
        <label>
          Message: <input class="input-style" type="text" name="message"
          placeholder="...story behind your picture..." / required>
        </label>

        <label>
          ImageUrl:<input class="input-style" type="text" name="imageUrl" />
        </label>

        <button class="submit-button" type="submit">Create New Post</button>
      </div>
    </form>
  </body>
  <%- include('_footer') -%>
</html>
